<div class="containerp">
    <h1>Clasificación de los diferentes tipos de cargas en el transporte</h1>
    <div class="section1">
        <h2>¿Qué pesa más un kilo de paja o un kilo de hierro? Es una pregunta capciosa que se suele hacer con aire
            travieso para tomar el pelo a alguna persona.</h2>

        <p>Aunque pueda parecer que los dos pesan lo mismo, en Logistica UDEC sabemos bien que no es lo mismo un
            kilo de paja que uno de hierro, al menos, en lo que al transporte por carretera se refiere. Y es que las
            necesidades de cada mercancía son diferentes para llevarlas de un lugar a otro. Por lo tanto, es esencial
            conocer el tipo de carga que se quiere transportar para adaptar el viaje a las necesidades de la misma.
            Sigue leyendo y descubre la clasificación de los diferentes tipos de cargas en el transporte.</p>

        <img src="../../../assets/pedido1.jpg" alt="">

        <p>Habitualmente, se suelen diferenciar <strong>tres tipos de carga: general, a granel y especial.</strong></p>
        <h3>Carga general:</h3>
        <p>Son los <strong>ítems pequeños que se transportan por unidades</strong>. Se trata de las cajas y paquetes de
            todo
            tipo.</p>
        <h3>Carga a granel:</h3>
        <p>Como su propio nombre indica, se trata de la carga que <strong>va suelta y a granel, sin embalaje;</strong>
            normalmente
            porque se transporta en grandes cantidades. Suele tratarse de gases, líquidos, abonos y sustancias
            similares, difíciles de empaquetar por su propia naturaleza.</p>
        <h3>Carga especial</h3>
        <p>Se suele referir a la mercancía ADR o peligrosa, que necesita unas condiciones especiales para su traslado de
            un
            lugar a otro.
            En nuestro post Cómo transportar mercancía ADR, ya te informamos de las medidas que hay que tomar con este
            tipo de
            productos
            tóxicos o potencialmente nocivos.
            <br>
            En esta clasificación, también se podrían destacar dos subcategorías: la carga de productos perecederos como
            por
            ejemplo,
            los productos alimentarios; y la carga de artículos frágiles, es decir, aquellos que exigen especial cuidado
            porque
            se rompen con facilidad.
        </p>
    </div>
    <div class="section2">
        <h2>En el siguiente vídeo la DGT nos proporciona unos útiles consejos sobre este tema en caso de tener que
            transportar
            productos a nivel particular.</h2>
        <video src="../../../assets/pedido_video1.mp4" poster="../../../assets/pedido_video1.jpg" controls></video>
    </div>
</div>
