h1 {
    text-align: center;
    color: rgb(253, 253, 253);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}

.containerp {
    background: radial-gradient(circle, rgba(251,183,63,0.9836309523809523) 0%, rgba(252,70,70,1) 100%);
    background-size: 400% 400%;
    animation:  gradient 15s ease infinite;
    text-align: center;
    grid-gap: 20px;
    padding: 2em;
}

@keyframes gradient{
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }

.containerp>div {
    text-align: justify;
    position: relative;
    padding: 3em 1.5em 2em 1.5em;
    background: rgba(0,0,0,0.1);
}

video {
    width: 50%;
    height: 350px;
    display: block;
    margin: auto;
}

img {
    height: 450px;
    width: 90%;
    display: block;
    margin: auto;
    padding: 2em;
}

h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(14 59 110 / 88%);
}

p {
    color: rgb(252, 252, 252);
    font-size: medium;
}