h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

p {
    color: darkred;
    float: inline-start;
}

.custom-form {
    background: linear-gradient(-45deg, #9342fd, #ff73ec, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    text-align: center;
    padding: 1em;
    border: 3px;
    color: #fff;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn button {
    width: 20%;
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    background-color: #f45b69;
}

.btn button:hover {
    transform: translateY(-3px);
    background: rgb(136, 97, 207);
}

mat-form-field {
    width: 45%;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
