 h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}
  
 h3{
     font-weight: 600;
 }  
  img {
    border: 3px dashed indianred;
  }
  
  .containerp {
    background: linear-gradient(-45deg, #ee7725, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation:  gradient 15s ease infinite;
    text-align: center;
    grid-gap: 20px;
    padding: 2em;
}

@keyframes gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
