<div class="containerp">
    <h1>Regiones de Colombia donde nos encontramos</h1>
    <map name="regiones">
        <area shape="circle" coords="265,157,10" href="/ubicar#caribe" title="Región Caribe">
        <area shape="circle" coords="179,323,10" href="/ubicar#pacifica" title="Región Pacifica">
        <area shape="circle" coords="249,289,10" href="/ubicar#andina" title="Región Andina">
        <area shape="circle" coords="413,317,10" href="/ubicar#orinoquia" title="Región Orinoquia">
        <area shape="circle" coords="348,446,10" href="/ubicar#amazonia" title="Región Amazonía">
    </map>

    <figure style="text-align:center;">
    <img usemap="#regiones" src="../../../assets/mapa1.png">
    <figcaption>Regiones de Colombia</figcaption>
</figure>

<div id="caribe">
    <h3>Región Caribe</h3>
    <p><strong>Razón Social: </strong>Logística UDEC sede Caribe</p>
    <p><strong>Télefono: </strong>30098949330</p>
    <p><strong>Ciudad: </strong>Barranquilla</p>
    <p><strong>Departamento: </strong>Atlántico</p>
    <p><strong>Dirección: </strong>CRR 00 # 00</p>
    <p><strong>Actividad: </strong>Transporte de carga Pesada-liviana</p>
  </div>
  
  <div id="pacifica">
    <h3>Región Pacifica</h3>
    <p><strong>Razón Social: </strong>Logística UDEC sede Pacifico</p>
    <p><strong>Télefono: </strong>30098949330</p>
    <p><strong>Ciudad: </strong>Quibdó</p>
    <p><strong>Departamento: </strong>Chocó</p>
    <p><strong>Dirección: </strong>CRR 00 # 00</p>
    <p><strong>Actividad: </strong>Transporte de carga liviana</p>
  </div>
  
  <div id="andina">
    <h3>Región Andina</h3>
    <p><strong>Razón Social: </strong>Logística UDEC sede Principal</p>
    <p><strong>Télefono: </strong>3006540000</p>
    <p><strong>Ciudad: </strong>Facatativá</p>
    <p><strong>Departamento: </strong>Cundinamarca</p>
    <p><strong>Dirección: </strong>Calle 14 con Avenida 15</p>
    <p><strong>Actividad: </strong>Transporte de carga Pesada-liviana</p>
     </div>
  
  <div id="orinoquia">
    <h3>Región Orinoquia</h3>
    <p><strong>Razón Social: </strong>Logística UDEC sede Orinoquia</p>
    <p><strong>Télefono: </strong>30098949330</p>
    <p><strong>Ciudad: </strong>Villavicencio</p>
    <p><strong>Departamento: </strong>Meta</p>
    <p><strong>Dirección: </strong>CRR 00 # 00</p>
    <p><strong>Actividad: </strong>Transporte de carga liviana</p>
  </div>

  <div id="amazonia">
    <h3>Región Amazonia</h3>
    <p><strong>Razón Social: </strong>Logística UDEC sede Amazonia</p>
    <p><strong>Télefono: </strong>30098949330</p>
    <p><strong>Ciudad: </strong>Leticia</p>
    <p><strong>Departamento: </strong>Amazonas</p>
    <p><strong>Dirección: </strong>CRR 00 # 00</p>
    <p><strong>Actividad: </strong>Transporte de carga liviana</p>
  </div>
</div>
