<div [hidden]="flagProgressBar">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<mat-drawer-container class="container" hasBackdrop="true">
  <mat-drawer #drawer mode="over" class="sidenav">
    <img src="assets/logo.png" width="100%" />

    <ng-container *ngIf="!this.log">
      <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/login']">
        <mat-icon>manage accounts</mat-icon>
        <span>Ingresar</span>
      </button>
      <mat-divider></mat-divider>
    </ng-container>
    <!-- componentes rol administrador -->
    <ng-container *ngIf="this.log && this.loginService.rol() == 'Administrador'">

      <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/ubicar']"
        routerLinkActive="active">
        <mat-icon>location_city</mat-icon>
        <span>Ubicar Sedes</span>
      </button>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/camion']"
        routerLinkActive="active">
        <mat-icon>local_shipping</mat-icon>
        <span>Camiones</span>
      </button>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/conductor']"
        routerLinkActive="active">
        <mat-icon>supervisor_account</mat-icon>
        <span>Conductores</span>
      </button>
      <mat-divider></mat-divider>
      
    </ng-container>
    <!-- componentes rol conductor -->
    <ng-container *ngIf="this.log && this.loginService.rol() == 'Conductor' ">
      <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/usuario']"
        routerLinkActive="active">
        <mat-icon>perm_identity</mat-icon>
        <span>Usuario</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/pedido']"
        routerLinkActive="active">
        <mat-icon>assessment</mat-icon>
        <span>Cargas</span>
      </button>
      <mat-divider></mat-divider>
   
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">close</mat-icon>
      </button>
      <h1 class="name">LOGISTICA UDEC</h1>
      <mat-menu yPosition="above">
      </mat-menu>
      <span class="menu"></span>
      <ng-container *ngIf="this.log">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/perfil']" routerLinkActive="active">
            <mat-icon>account_box</mat-icon>
            <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
        </mat-menu>
      </ng-container>

    </mat-toolbar>


    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>