<div class="example-container">
  <div [hidden]="flagProgressBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
    <mat-toolbar color="primary" class="example-toolbar" > 
        <!-- http://143.244.150.210/movitapp-back/departamentos/listar-->
        <!-- http://143.244.150.210/movitapp-back/departamentos/ciudad/listarPorDepartamnto/#-->
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
        <mat-icon *ngIf="drawer.opened">close</mat-icon>
      </button>   
        <h1 class="example-app-name">LOGISTICA UDEC</h1>
  
  
        <span class="example-spacer"></span>
  
        <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
          </button>
  
          <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/perfil']" routerLinkActive="active">
                  <mat-icon>account_box</mat-icon>
                  <span>Mi Perfil</span>
              </button>
              <button mat-menu-item [routerLink]="['/login']" routerLinkActive="active">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar Sesión</span>
              </button>
          </mat-menu>
    
        
    </mat-toolbar>
    
    <mat-drawer-container class="example-sidenav-content" autosize>
      <mat-drawer #drawer style="width: 200px" mode="side">
  
          <img src="assets/logo.png" width="100%" />
    
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/pedido']" routerLinkActive="active">
              <mat-icon>search</mat-icon>
              <span>Buscar Pedido</span>
          </button>
          <mat-divider></mat-divider>  
          
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/login']" routerLinkActive="active">
            <mat-icon>manage accounts</mat-icon>
            <span>Ingresar</span>
          </button>
          <mat-divider></mat-divider>  
          
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/registro']" routerLinkActive="active">
            <mat-icon>person_add</mat-icon>
            <span>Registrase</span>
          </button>
          <mat-divider></mat-divider> 
  
          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/editar']" routerLinkActive="active">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <mat-divider></mat-divider>  

          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/camion']" routerLinkActive="active">
            <mat-icon>local_shipping</mat-icon>
            <span>Camiones</span>
          </button>
          <mat-divider></mat-divider>  

          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/departamento']" routerLinkActive="active">
            <mat-icon>share_location</mat-icon>
            <span>Departamentos</span>
          </button>
          <mat-divider></mat-divider> 

          <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/conductor']" routerLinkActive="active">
            <mat-icon>supervisor_account</mat-icon>
            <span>Conductores</span>
          </button>
          <mat-divider></mat-divider>  
        
      </mat-drawer>
  
        <div class="centrado">
            <router-outlet></router-outlet>
        </div>
  
      </mat-drawer-container>
  
  </div>