<div class="example-container">
  <div [hidden]="flagProgressBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>
    <h1 class="example-app-name">LOGISTICA UDEC</h1>
   <mat-menu yPosition="above">
  
  </mat-menu>
    <span class="example-spacer"></span>
    <ng-container *ngIf="this.log">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/perfil']" routerLinkActive="active">
          <mat-icon>account_box</mat-icon>
          <span>Mi Perfil</span>
        </button>
        <button mat-menu-item (click)="cerrarSesion()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </ng-container>

  </mat-toolbar>

  <mat-drawer-container class="example-sidenav-content" [hasBackdrop]="true" autosize>
    <mat-drawer #drawer style="width: 320px" mode="over">

      <img src="assets/logo.png" width="100%" />
      <ng-container *ngIf="!this.log">
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/login']" >
          <mat-icon>manage accounts</mat-icon>
          <span>Ingresar</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/registro']" >
          <mat-icon>person_add</mat-icon>
          <span>Registrarse</span>
        </button>
        <mat-divider></mat-divider>
      </ng-container>
      <ng-container *ngIf="this.log">
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/pedido']"
          routerLinkActive="active">
          <mat-icon>search</mat-icon>
          <span>Buscar Pedido</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/editar']"
          routerLinkActive="active">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/camion']"
          routerLinkActive="active">
          <mat-icon>local_shipping</mat-icon>
          <span>Camiones</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/departamento']"
          routerLinkActive="active">
          <mat-icon>share_location</mat-icon>
          <span>Departamentos</span>
        </button>
        <mat-divider></mat-divider>

        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/conductor']"
          routerLinkActive="active">
          <mat-icon>supervisor_account</mat-icon>
          <span>Conductores</span>
        </button>
        <button mat-menu-item (click)="drawer.toggle()" style="cursor: pointer" [routerLink]="['/usuario']"
          routerLinkActive="active">
          <mat-icon>perm_identity</mat-icon>
          <span>Usuario</span>
        </button>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-drawer>

    <div class="centrado">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>

</div>