<div class="banner"></div>
<h1>SERVICIOS</h1>
<div class="grid-container" style="background-color: rgb(197, 194, 190);">
    <div class="section1">
        <h3>TRANSPORTE DE MERCANCÍA</h3>
        <img src="../../../assets/home1.png" alt="">
        <p>Modalidad de envíos de mercancía por unidad de empaque mayores a 30 kg para distribución Nacional o
            Metropolitana con servicio puerta a puerta sin costo adicional a los diferentes destinos del país.</p>
    </div>
    <div class="section2">
        <h3>VEHÍCULOS EXCLUSIVOS</h3>
        <img src="../../../assets/home3.png" alt=""><br>
        <p>Para este servicio ofrecemos oportunidad de despachar su carga sin ser combinada con la de otros
            clientes llenando el cupo de un vehículo e varios tamaños que pueden variar de acuerdo a la solicitud
            así: NKR hasta 3 toneladas. NPR hasta 4.5 toneladas. Sencillo hasta 8 toneladas. Doble troque hasta 15
            toneladas. Mini mula hasta 17 toneladas. Tracto mula hasta 30 toneladas. El valor de estos servicios
            está sujeto a cotizaciones y requerimientos.</p>
    </div>
    <div class="section3">
        <h3>CARGA MASIVA</h3><br>
        <img src="../../../assets/home2.png" alt=""><br><br>
        <p>Despacho de mercancía que ocupa la capacidad de un vehículo (4.5, 9.5, 18 o 33 toneladas en peso o
            volumen), con una sola operación de cargue en el origen y una sola operación de descargue en su destino,
            el cual será recogido y entregado con tiempos de entrega de 24 a 48 horas dependiendo del destino.</p>
    </div>
   
</div>
<div class="footer">

    <div class="sectionf1">
    <h2>SEDE PRINCIPAL</h2>
    <p>Dirección: Calle 14 con Avenida 15 <br>Facatativá</p>
    </div>
<div class="sectionf3">
    <h2>CONTÁCTENOS</h2>
    <p>Teléfonos: <br>(031)999 9999 <br>3006540000</p>
</div>
</div>