<div class="custom-form">
    <div class="section1">
        <button mat-fab color="accent" style="float: left; left: 150px; margin-top: 10px;" [routerLink]="['/camion']">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>Asociar conductores a vehiculo</h1>
    </div>

 <!--seccion vehiculo-->


    <div class="section2" style="align-items: center;">

        <table  class="tablaCarro" style="width: 50%; float: unset;">
            <tr>
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo de vehículo</th>
                <th>Capacidad</th>
            </tr>
            <tr>
                <td>{{veh.placa}}</td>
                <td>{{veh.marca}}</td>
                <td>{{veh.modelo}}</td>
                <td>{{veh.tipoVehiuclo}}</td>                
                <td>{{veh.capacidad}}</td>
            </tr>
        </table>
    </div>
<br><br>

 <!--seccion conductores-->

    <div class="secction3" style="float:inherit;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="idUsuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let row"> {{row.idUsuario}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
        </ng-container>

        <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
            <td mat-cell *matCellDef="let row"> {{row.documento}} </td>
        </ng-container>
        
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef> Asociar </th>
            <td mat-cell *matCellDef="let row">
                <button mat-button color="primary" (click)="asociar(row.idUsuario)">
                    <mat-icon>group_add</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
